.navigation-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navigation-buttons{
	width: 40vw;
	display: flex;
	justify-content: space-between;
}

.page-button{
	background-color: transparent;
	border: none;

}

.page-button:hover{
	cursor: pointer;
}