

.logo_image {

	width: 25vw;
	margin-left: 20px;
	margin-top: 20px;
}

.page-button {
	color: #ffffff;
	font-size: 1.5em;
	margin-right: auto;
}




.navigation-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 5px solid #ffffff;
	padding: 10px;
}

.navigation-buttons{
	width: 40vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* .page-button{
	background-color: transparent;
	border: none;
} */

.color-link{
	color: #E8A87C;
}

.page-button:hover{
	cursor: pointer;
}

