.logo_image {

	width: 25vw;
	margin-left: 20px;
	margin-top: 20px;
}

.page-button {
	color: #ffffff;
	font-size: 1.5em;
	margin-right: auto;
}


.navigation-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navigation-buttons{
	width: 40vw;
	display: flex;
	justify-content: space-between;
}

.page-button{
	background-color: transparent;
	border: none;

}

.page-button:hover{
	cursor: pointer;
}

