.contact-form {
  width: 50vw;
  background-color: #58999e;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 10px;
}

.contact-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-input {
  height: 30px;
  padding: 8px;
  border-radius: 3px;
  font-size: 1rem;
}

.contact-message {
  height: 250px;
  padding: 8px;
  border-radius: 3px;
  font-size: 1rem;
}

.contact-send-button {
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
  margin-left: 250px;
  background-color: #2b6777;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.contact-send-button:hover {
  font-size: 26px;
  transition: all 100ms ease;
  text-decoration: underline;
}

.contact-label-title {
  font-size: 20px;
  color: white;
  font-family: "Courier Prime", monospace;
}
